%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price

/ .commnents
/   / - cms = comments(@product)
/   - comments(@product).each do |comment|
/     %p
/       %span= comment.id
/       %span= comment.content 

%p 
  %span number of comments:
  %span= number_of_comments(@product)

.commnents
  - @comments.each do |comment|
    %p
      %span= comment.id
      %span= comment.content 

%br/
%p Post comment
= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  / .field
  /   = f.label :product_id
  /   = f.number_field :product_id

  .field
    = hidden_field_tag("comment[product_id]", @product.id)
    = f.label :content
    = f.text_area :content

  .actions
    = f.submit 'Save'
/test

/ .commnents
/   - @product.comments.each do |comment|
/     %p
/       %span= comment.id
/       %span= comment.content 


= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
